---

import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---



<Layout title="Test">
   <Header/>
   <h1>test</h1>
   <div class="test"></div>
    
</Layout>

<style>
   .test {
      height: 200vh;
      border: 3px solid orange;
   }
</style>