---
import Test from '../../public/favicon.svg'
---






<header>
    <div class="img-container">
        <img src="/favicon.svg" alt="">
        </div>
    <h1>Header</h1>
    <ul>
        <li>Alabama</li>
        <li>Alaska</li>
        <li>Arizona</li>
    </ul>
</header>

<style>

    header {
    
        display: flex;
    }

    li {
        display: inline;
        margin-right: 4rem;
    }

    .img-container {
        width: 100px;
        height: 100px;
    }

</style>