---
import Header from "./Header.astro"
import Main from "./Main.astro"
import Title from "./Title.astro"
import Lady from "./Lady.astro"
import People from "./People.astro"
import Layout from "../layouts/Layout.astro"
---


<Layout>
    <Header/>
    <Main>
        <Title text={'I Love Sammy'}/>
        <Lady/>
        <People/>

    </Main>
</Layout>