---
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Main from '../components/Main.astro'
import Lady from '../components/Lady.astro'
import People from '../components/People.astro'
import { ViewTransitions } from 'astro:transitions'
import { ClientRouter } from 'astro:transitions'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<ClientRouter/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>astrotestsite</title>
	</head>
	<body>

		<slot/>


	

	

	</body>
</html>

<style>
	* {
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	html,
	body {
		font-family: 'Poppins', fantasy;
		min-height: 100vh;
	
		background: linear-gradient(90deg, rgba(150, 242, 193, 0.586) 0%, rgb(149, 232, 213) 35%, rgb(175, 209, 209) 53%, rgba(0,212,255,0.6138830532212884) 100%);
	}
</style>
