---
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'


---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>astrotestsite</title>
	</head>
	<body>
		<Header/>
		<Title text="I Love Sammy"/>
		<Title text="I Love Bella"/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color: pink;
	}
</style>
